ul {
  padding: 0;
}

li {
  list-style: none;
  border: solid 1px black;
  padding: 4px 10px;
  margin-bottom: 8px;
  border-radius: 20px;
  display: inline-block;

  &:not(:last-of-type) {
    margin-right: 4px;
  }
}
