header
  h1(style="background-color:black; padding:20px; margin:0;")
    div(style="width:20px; height:20px; border-radius:50%; background-color:white; display:inline-block;")
    span(style="color:white;")  Ivan Reshetnikov

  nav
    app-nav-links

section#main(style="padding:20px;")
  router-outlet
