h2 Skills
ul
  li Ruby on Rails
  li Slim template engine
  li CoffeeScript
  li SASS

h2 Known technologies
app-tag-list([tags]="knownTechnologies")
h2 Links
ul
  li
    a(href="https://github.com/resivalex", target="_blank") https://github.com/resivalex

h2 Projects
ul
  li
    a([routerLink]="['/']") Coming soon..
